.AttackButton {
    background-color: red;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
  bottom: -275;
  left: 675;
}

.Ehealth {
    position: relative;
  bottom: -200;
  left: 675;
  color: red;
}

.health {
    position: relative;
  bottom: -260;
  left: 675;
  color: red;
}

.gold {
  position: relative;
  bottom: 0;
  left: 17;
  color: gold;
  font-size: 16;
}

.level {
  position: relative;
  bottom: 90;
  left: 17;
  color: aqua;
  font-size: 18;
}

.attack {
  position: relative;
  bottom: 85;
  left: 17;
  color: red;
  font-size: 16;
}
.attackspeed {
  position: relative;
  bottom: 80;
  left: 17;
  color: red;
  font-size: 16;
}

.eatbutton {
  background-color: red;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  position: relative;
  bottom: -275;
  left: 675;
}

.gatherforest {
  background-color: darkgreen;
  color: rgb(0, 190, 0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  position: relative;
  bottom: 10;
  left: 850;
}

#inventory {
  border: 6px double brown ;
  text-align: start;
  position: relative;
  bottom: 50;
  left: 850;
  width: 180px;
  height: 100px;
}