.AttackButton {
    background-color: red;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: fixed;
  left: 50%;
  bottom: 50%;
}

.Ehealth {
  position: fixed;
  left: 50%;
  bottom: 60%;
  color: red;
}

.health {
  position: fixed;
  left: 50%;
  bottom: 47%;
  color: red;
}

.gold {
  position: fixed;
  left: 2%;
  bottom: 90%;
  color: gold;
  font-size: 16;
}

.level {
  position: fixed;
  left: 2%;
  bottom: 95%;
  color: aqua;
  font-size: 18;
}

.attack {
  position: fixed;
  left: 2%;
  bottom: 85%;
  color: red;
  font-size: 16;
}
.attackspeed {
  position: fixed;
  left: 2%;
  bottom: 80%;
  color: red;
  font-size: 16;
}

.eatbutton {
  position: fixed;
  left: 60%;
  bottom: 50%;
  background-color: red;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.gatherforest {
  position: fixed;
  left: 90%;
  bottom: 90%;
  background-color: darkgreen;
  color: rgb(0, 190, 0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

#inventory {
  position: fixed;
  left: 75%;
  bottom: 75%;
  border: 6px double brown ;
  text-align: start;
  position: fixed;
  width: 180px;
  height: 100px;
}

#log {
  position: fixed;
  left: 79%;
  bottom: 1%;
  width: 20%;
  height: 25%;
  border: 4px solid black;
  background-color: rgb(250, 248, 248);
  text-align: initial;
}